<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Sample App! Click on the link below to activate your account:
</p>

<!--
Notice that the @ in the email address appears as %40, i.e., it's "escaped out" to 
guarantee a valid URL. 
The way to set a query parameter in Rails is to 
include a hash in the named route
-->
<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>